<?xml version="1.0"?>

<model>
  <name>SeaBat-F50 FLS NPS Multibeam</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Brian Bingham</name>
    <email>briansbingham@gmail.com</email>
  </author>

  <description>
    A model of a SeaBat-F50 FLS
  </description>

</model>
