<?xml version="1.0" ?>
<model>
    <name>uw_apl_rod</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Woen-Sug Choi</name>
        <email>woensug.choi.ks@nps.edu</email>
    </author>
    <description>4'' diameter 7'' length Rod</description>
</model>
