<?xml version="1.0"?>
<model>
  <name>oculus_m1200d</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Woensug CHoi</name>
    <email>woensugchoi@gmail.com</email>
  </author>

  <description>
    oculus_m1200d (visual/collision mesh is blueview_p900)
  </description>
</model>
