<?xml version="1.0"?>
<launch>

  <arg name="verbose" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find nps_uw_multibeam_sonar)/worlds/sonar_tank_oculus_m1200d_nps_multibeam.world"/>
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <!-- image_view for sonar image -->
  <node name="image_view_sonar" pkg="image_view" type="image_view"
        args="image:=/oculus_m1200d/sonar_image">
    <param name="window_name" value="oculus_m1200d" />
    <param name="autosize" value="true" />
    <param name="filename_format" value="/tmp/SonarImage_capture_%04i.jpg" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="multibeam_sonar_base_link"
        args="0 0 0 0 0 0 map forward_sonar_optical_link 50" />

</launch>
